@import '../../styles/index.less';
@media only screen and (max-width:1920px),
only screen and (max-device-width:1920px) {

    .log-containee {
        width: 20rem;
        height: 40rem;
    }
}

@media only screen and (min-height:700px),
only screen and (min-device-height:700px) {

    .log-containee {
        .top {
            margin-top: 11rem;
        }
    }
}

@media only screen and (min-height:1000px),
only screen and (min-device-height:1000px) {

    .log-containee {
        .top {
            margin-top: 6rem;
        }
    }
}

@media only screen and (max-height:700px),
only screen and (max-device-height:700px) {

    .log-containee {
        .top {
            margin-top: 6rem;
        }
    }
}

@media only screen and (max-width:550px),
only screen and (max-device-width:550px) {

    .log-containee {
        width: 100%;
        height: 100%;

    }
}
.log-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    background-image: url("../../assets/img/background.jpg");
    background-size: cover;
    &:extend(.ls-flex);
    &:extend(.ls-justify-center);
    &:extend(.ls-align-center);
    &:extend(.ls-column);
   
    .log-containee{
        &:extend(.ls-flex);
        &:extend(.ls-justify-center);
        &:extend(.ls-align-start);
        &:extend(.ls-column);
        background: rgba(36, 93, 146, 0.457);

        border-radius: 0.15rem;
        box-sizing: border-box;
        position: relative;
       
        div{
        width: 100%;
        margin-left: 1.5rem;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        color: #FFFFFF;
        span{
            margin-left: 1rem;
            color: red;
        }
    }
    }
    

}